.row
  .span6.offset3
    = form_for @service do |f| 
      = render 'shared/error_messages', object: f.object
      = f.label :name 
      = f.text_field :name 
      = f.label :desc 
      = f.text_area :desc, cols: 20, rows:2, style: "padding:4px;", placeholder: "Optional description"
      = f.label :price
      .input-prepend
        %span.add-on S./  
        = f.text_field :price, style:"width: 432px"

      = f.submit "Create Service!", class: "btn btn-large btn-primary"
      = link_to "Back", services_path, class: "btn btn-large pull-right"