- provide(:header, 'All Rates') 

.row
  .span10.offset1.button-row
    = link_to "New Reservation", new_reservation_path, class: "btn pull-left"
  .span10.offset1
    %hr
.row
  .span10.offset1
    %table.table-bordered.table-striped.table.display.dataTables-table
      %thead
        %tr
          %th Room
          %th Status
          %th Customer
          %th Company
      %tbody
        - @rooms.each do |room| 
          %tr
            %td= link_to room.name, room 
            %td 
              - if room.check_in_today
                %span.label.label-success.check-in
                  = link_to room.check_in_today do
                    %i.icon-signin
                    Check-in
              - elsif room.check_out_today
                %span.label.label-warning.check-out
                  = link_to room.check_out_today do
                    %i.icon-signout
                    Check-out
              - elsif room.booked
                %span.label.label-info.booked
                  = link_to room.booked do
                    %i.icon-circle
                    Booked
              - else
                %span.label.free 
                  %i.icon-circle-blank
                  Free
            %td
              - if room.booked
                = link_to room.booked.customers.first.initial_name, room.booked.customers.first
            %td
              - if room.booked
                -if room.booked.company.nil?
                  No company
                -else
                  =link_to room.booked.company.name, room.booked.company