.center.hero-unit

  %h1 Welcome to the Hotel App
  %h2 This is the home page!
  - if current_user
    %h3 You're signed in as #{current_user.email}.
    %ul
      %li= link_to "Customers", customers_path
      %li= link_to "Room Types", room_types_path
      %li= link_to "Rooms", rooms_path
      %li= link_to "Companies", companies_path
  - else
    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
