.center.hero-unit

  %h1 Welcome to the Hotel App
  %h2 This is the home page!
  %ul
    %li= link_to "Customers", customers_path
    %li= link_to "Room Types", room_types_path
    %li= link_to "Rooms", rooms_path
    %li= link_to "Companies", companies_path
    %li= link_to "Reservations", reservations_path
    %li= link_to "Daily", daily_path
