- provide(:title, 'All users') 
%h1 All customers

/ = will_paginate 
= link_to "New Customer", new_customer_path
%ul.customers
  - @customers.each do |customer| 
    %li
      = link_to "#{customer.last_name}, #{customer.first_name}", customer 
      = link_to "Delete", customer, method: :delete, data: { confirm: "You sure?" }
      = link_to "Edit", edit_customer_path(customer)
/ = will_paginate 