.row
  .span10.offset1
    .notecard
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.header-icon#briefcase
              %i.icon-briefcase
            %th.nameplate{colspan:"3"}= @company.name
        %tbody
          %tr
            %td{style:"width:33%", colspan:"2"}Name
            %td{colspan:"2"}= @company.name
          %tr
            %td{colspan:"2"}Number
            %td{colspan:"2"}= @company.number       

      = link_to @company, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" do
        %i.icon-minus-sign
        Delete
      = link_to edit_company_path, class: "btn pull-left" do
        %i.icon-edit
        Edit
