.row
  .span10.offset1
    #reservations
      %h2#month
        = link_to "<", date: @date - 1.week 
        = @date.strftime("%B %Y") 
        = link_to ">", date: @date + 1.week
      #long-calendar
        = long_calendar(@date,@rooms) do |date| 
          = date.day 
   
