- provide(:title, 'All Reservations') 
%h1 All Reservations

/ = will_paginate 
= link_to "New Reservation", new_reservation_path
%ul.reservations
  - @reservations.each do |reservation| 
    %li
      = link_to reservation_name(reservation), reservation 
      = link_to "Delete", reservation, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small"
      = link_to "Edit", edit_reservation_path(reservation), class: "btn btn-small"
/ = will_paginate 

#reservations
  %h2#month
    = link_to "<", date: @date.prev_month 
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date.next_month 
  = calendar @date do |date| 
    = date.day 
    - if @reservations_by_date[date] 
      %ul
        - @reservations_by_date[date].each do |reservation| 
          %li= link_to reservation.full_name, reservation
