- provide(:title, "Reservation")

.row
  .span6.offset3
    .notecard
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th.header-icon#user
              %i.icon-calendar
            %th.nameplate{colspan:"3"}= @reservation.full_name
        %tbody
          %tr
            %td{colspan:"2"}Customer
            %td{colspan:"2"}= link_to @reservation.customers.first.initial_name, @reservation.customers.first
          %tr
            %td{colspan:"2"}Room
            %td{colspan:"2"}= link_to @reservation.room.name, @reservation.room
          %tr
            %td{colspan:"2"}Start Date
            %td{colspan:"2"}= @reservation.start_date.to_s(:rfc822)
          %tr
            %td{colspan:"2"}End Date
            %td{colspan:"2"}= @reservation.end_date.to_s(:rfc822)
          %tr
            %td{colspan:"2"}Company
            %td{colspan:"2"}= @reservation.company.nil? ? "No company" : (link_to @reservation.company.name, @reservation.company)
          %tr
            %td{colspan:"2"}Services
            -if @reservation.services.empty?
              %td{colspan:"2"} No services
            -else
              %td{colspan:"2"}
                - @reservation.services.each do |service| 
                  = link_to service.name, service

          %tr
            %td{colspan:"2"}Status
            -if @reservation.paid?
              %td{colspan:"2"}= link_to "Paid on #{@reservation.receipt.date_paid}", @reservation.receipt
            -else 
              %td{colspan:"2"}= link_to "Pay now", new_receipt_path(reservation_id: @reservation.id)


    = link_to @reservation, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" do
      %i.icon-minus-sign
      Delete
    = link_to edit_reservation_path, class: "btn pull-left" do
      %i.icon-edit
      Edit