- provide(:title, "Reservation")
%ul
  %li= @reservation.start_date
  %li= @reservation.end_date
  - @reservation.customers.each do |customer|
    %li= customer.full_name
  - @reservation.rooms.each do |room|
    %li= room.name
  - unless @reservation.company.nil?
    %li= @reservation.company.name

= link_to "Back", :back, class: "btn btn-large"