- provide(:title, "Reservation")
%ul
  %li= @reservation.start_date
  %li= @reservation.end_date
  - @reservation.customers.each do |customer|
    %li= full_name(customer)
  - @reservation.rooms.each do |room|
    %li= room.name
  %li= @reservation.companies.first.name

= link_to "Back", reservations_path, class: "btn btn-large"