- provide(:header, 'All Reservations') 

/ = will_paginate 
#content
  .row
    .span10.offset1.button-row
      = link_to "New Reservation", new_reservation_path, class: "btn pull-left"

      = link_to "Switch to Calendar View", "/reservations", class: "btn pull-right"
    .span10.offset1
      %hr

  .row
    .span10.offset1
      %table.table-bordered.table-striped.table.display.dataTables-table
        %thead
          %tr
            %th Start Date
            %th End Date
            %th Room
            %th Customer
            %th Company
            %th Edit
            %th Delete
        %tbody
          - @reservations.each do |reservation| 
            %tr
              %td= link_to reservation.start_date.to_s(:rfc822), reservation
              %td= link_to reservation.end_date.to_s(:rfc822), reservation
              %td= link_to reservation.rooms.first.name, reservation.rooms.first
              %td= link_to reservation.customers.first.initial_name, reservation.customers.first
              %td
                - if reservation.company.nil?
                  No company
                - else
                  = link_to reservation.company.name, reservation.company
              %td= link_to "Edit", edit_reservation_path(reservation)
              %td= link_to "Delete", reservation, method: :delete, data: { confirm: "You sure?" }
      / = will_paginate 