%h1 Edit Room

.row
  .span6.offset3
    = form_for @room do |f| 
      = render 'shared/error_messages', object: f.object
      = f.label :name 
      = f.text_field :name 
      = f.label :room_type
      = f.collection_select(:room_type_ids, RoomType.all, :id, :name, {style: "padding: 0px"})

      = f.submit "Update Room!", class: "btn btn-large btn-primary"
      = link_to "Back", :back, class: "btn btn-large pull-right"