- provide(:title, @room.name)
%ul
  %li= @room.name
  %li= @room.room_type.name

= link_to "Back", :back, class: "btn btn-large"

#reservations
  %h2#month
    = link_to "<", date: @date - 1.week
    = @date.strftime("%B %Y") 
    = link_to ">", date: @date + 1.week
  = calendar @date do |date| 
    = date.day 
    - if @all_reservations.include?(date) 
      - @res_by_date[date.to_s].each do |res|
        .reservation_link= link_to "#{res.customers.first.full_name}", res
